.dropdown-total-play {
    border-radius: 24px;
    background-color: #eef2f9;
    color: #999da9;
    font-weight: 500;
    border: none;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.select-box {
    display: flex;
    width: 260px;
    flex-direction: column;
}

.select-box .options-container {
    background: #fff;
    color: #999da9;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    box-shadow: 0px 3px 6px #00000029;
}

.selected {
    position: relative;
    order: 0;
    border-radius: 24px;
    background-color: #eef2f9;
    color: #999da9;
    font-weight: 500;
    border: none;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.selected::after {
    content: "\25BC";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 10px;
    font-size: 16px;
    transition: all 0.4s;
    color: #44475a;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
    content: "\25BC";
}

.select-box .options-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #e2d8ff;
    color: #865eff;
    font-weight: 500;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}