.left {
    background: linear-gradient(0deg, rgba(55, 31, 129, 1) 0%, rgba(108, 60, 253, 1) 100%);
    /* background: linear-gradient(0deg, rgba(55,31,129,1) 0%, rgba(108,60,253,1) 100%); */
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vh;
    background-size: cover;
    opacity: 1;
}

.ddd {

    background: transparent url('src\assets\images\asdfg.png') 0% 0% no-repeat;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vh;
    background-size: cover;
    opacity: 1;

}

.right {
    background: transparent url('src\assets\images\rec-joindss.png') 0% 0% no-repeat;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 75vh;
    background-size: cover;
    opacity: 1;
}

.container-login {
    box-shadow: 6px 6px 10px #5043771A;
    border-radius: 10px;
    opacity: 1;
    background-color: #fff;
    position: absolute;
    width: 549px;
    height: 549px;
    top: 189px;
    padding: 80px;
}

.input-empleado {
    width: 300px;
    height: 48px;
    border-radius: 24px;
    background-color: #eef2f9;
    border-right: none;
    border: transparent;
    color: #b3b5cc;
}

.icon-user-empleado {
    font-size: 36px;
    color: #9a9cba;
}

.append-empleado {
    border-radius: 0px 24px 24px 0px;
    background-color: #eef2f9;
    border: transparent;
}

.button {
    border: none;
    display: inline-block;
    border-radius: 24px;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6d3dff;
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #371F80;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
}

.button:hover:before {
    width: 100%;
}

.hr-login {
    border-radius: 50px;
    background-color: #6d3dff;
    opacity: 1;
    border-radius: 10px;
    height: 6px;
    width: 42px;
}