<div class="container-fluid p-0 w-100">
  <div class="row g-0 vh-100">
    <div class="col-6 left">
      <div class="ddd">
        <img
          src="{{ logoTotal }}"
          alt="logo"
          style="margin-top: 50px; margin-left: 50px"
          class="mt-5 ml-5"
        />
      </div>
    </div>
    <div class="col-6 right">
      <!--   <div class="position-relative position-relative-example">
        <div class="position-absolute top-0 start-0"></div>
        <div class="position-absolute top-0 end-0"></div>
        <div class="position-absolute top-50 start-50"></div>
        <div class="position-absolute bottom-50 end-50"></div>
        <div class="position-absolute bottom-0 start-0"></div>
        <div class="position-absolute bottom-0 end-0"></div>
      </div> -->
    </div>
  </div>
</div>
