/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.icon-user-empleado {
    font-size: 36px;
    color: #9a9cba;
}